apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prime-video-clone
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sivavek/Prime-Video-Clone
    targetRevision: main
    path: k8s-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: prime-video-clone
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m